/build/
/out/
/.idea/
/.vscode/
*.user
*.suo
*.tmp
*.log
.DS_Store
Client/
Core/
/vendor/
client/YGOPro2Overlay/Library/
client/YGOPro2Overlay/Temp/
client/YGOPro2Overlay/Obj/
client/YGOPro2Overlay/Build/
__pycache__/
*.py[cod]
.pytest_cache/
.ouroboros/
